<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773841916891-eh2d5stcda956kgc3dm11kut9ovl1i0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773841916891-eh2d5stcda956kgc3dm11kut9ovl1i0k</string>
	<key>API_KEY</key>
	<string>AIzaSyAAWDY_M8lVELGg2QEd2R15MVWdglmctVg</string>
	<key>GCM_SENDER_ID</key>
	<string>773841916891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junseole.IOS-CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-15590</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-15590.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773841916891:ios:57a6fba39d19b5d0c0cdfe</string>
</dict>
</plist>